/* Start navbar css, sourced from https://www.codeply.com/go/LFd2SEMECH */

#body-row {
    margin-left: 0;
    margin-right: 0;
}

#sidebar-container {
    min-height: 100vh;
    background-color: #333;
    padding: 0;
}


/* Sidebar sizes when expanded and expanded */

.sidebar-expanded {
    width: 230px;
}

.sidebar-collapsed {
    width: 60px;
}


/* Menu item*/

#sidebar-container .list-group a {
    height: 50px;
    color: white;
}


/* Submenu item*/

#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

.sidebar-submenu {
    font-size: 0.9rem;
}


/* Separators */

.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}

.sidebar-separator {
    background-color: #333;
    height: 25px;
}

.logo-separator {
    background-color: #333;
    height: 60px;
}


/* Closed submenu icon */

#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}


/* Opened submenu icon */

#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}


/* Borderless Bootstrap Table */

.table-borderless td,
.table-borderless th {
    border: 0;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.ChampionFrameOuter {
    position: relative;
}

.ChampionFrameInner {
    box-sizing: border-box;
    position: relative;
    height: 52px;
    width: 52px;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 3px;
    border: 2px solid rgb(19, 28, 46);
    z-index: 1;
}

.ChampionImage {
    display: block;
    width: 60px;
    height: 60px;
    min-height: 60px;
    min-width: 60px;
}

.ChampionTierRingFive {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 56px;
    height: 56px;
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(139, 77, 9) 0%, rgb(218, 170, 41) 65%) repeat scroll 0% 0%;
    border-radius: 4px;
    z-index: 0;
}

.ChampionTierRingFour {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 56px;
    height: 56px;
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(122, 28, 126) 0%, rgb(229, 13, 194) 100%) repeat scroll 0% 0%;
    border-radius: 4px;
    z-index: 0;
}

.ChampionTierRingThree {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 56px;
    height: 56px;
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(58, 72, 148) 0%, rgb(63, 164, 205) 100%) repeat scroll 0% 0%;
    border-radius: 4px;
    z-index: 0;
}

.ChampionTierRingTwo {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 56px;
    height: 56px;
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(39, 94, 78) 0%, rgb(9, 152, 83) 100%) repeat scroll 0% 0%;
    border-radius: 4px;
    z-index: 0;
}

.ChampionTierRingOne {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 56px;
    height: 56px;
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(43, 66, 89) 0%, rgb(72, 87, 103) 100%) repeat scroll 0% 0%;
    border-radius: 4px;
    z-index: 0;
}

.ChampionCostFive {
    box-sizing: border-box;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1;
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(139, 77, 9) 0%, rgb(218, 170, 41) 65%) repeat scroll 0% 0%;
    display: flex;
    height: 20px;
    width: 26px;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    font-weight: 700;
    color: rgb(229, 235, 239);
    font-size: 12px;
    padding-top: 2px;
    line-height: 1.5;
    border-radius: 5px 0px;
    text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 0px;
}

.ChampionCostFour {
    box-sizing: border-box;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1;
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(122, 28, 126) 0%, rgb(229, 13, 194) 100%) repeat scroll 0% 0%;
    display: flex;
    height: 20px;
    width: 26px;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    font-weight: 700;
    color: rgb(229, 235, 239);
    font-size: 12px;
    padding-top: 2px;
    line-height: 1.5;
    border-radius: 5px 0px;
    text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 0px;
}

.ChampionCostThree {
    box-sizing: border-box;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1;
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(58, 72, 148) 0%, rgb(63, 164, 205) 100%) repeat scroll 0% 0%;
    display: flex;
    height: 20px;
    width: 26px;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    font-weight: 700;
    color: rgb(229, 235, 239);
    font-size: 12px;
    padding-top: 2px;
    line-height: 1.5;
    border-radius: 5px 0px;
    text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 0px;
}

.ChampionCostTwo {
    box-sizing: border-box;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1;
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(39, 94, 78) 0%, rgb(9, 152, 83) 100%) repeat scroll 0% 0%;
    display: flex;
    height: 20px;
    width: 26px;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    font-weight: 700;
    color: rgb(229, 235, 239);
    font-size: 12px;
    padding-top: 2px;
    line-height: 1.5;
    border-radius: 5px 0px;
    text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 0px;
}

.ChampionCostOne {
    box-sizing: border-box;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1;
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(43, 66, 89) 0%, rgb(72, 87, 103) 100%) repeat scroll 0% 0%;
    display: flex;
    height: 20px;
    width: 26px;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    font-weight: 700;
    color: rgb(229, 235, 239);
    font-size: 12px;
    padding-top: 2px;
    line-height: 1.5;
    border-radius: 5px 0px;
    text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 0px;
}

.ChampionNameFiveCost {
    margin: 0px 0px 0px;
    position: relative;
    color: rgb(218, 170, 41);
    font-size: 12px;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}

.ChampionNameFourCost {
    margin: 0px 0px 0px;
    position: relative;
    color: rgb(229, 13, 194);
    font-size: 12px;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}

.ChampionNameThreeCost {
    margin: 0px 0px 0px;
    position: relative;
    color: rgb(63, 164, 205);
    font-size: 12px;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}

.ChampionNameTwoCost {
    margin: 0px 0px 0px;
    position: relative;
    color: rgb(9, 152, 83);
    font-size: 12px;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}

.ChampionNameOneCost {
    margin: 0px 0px 0px;
    position: relative;
    color: rgb(72, 87, 103);
    font-size: 12px;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}


/* End navbar css */